* {
    margin: 0;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

.top {
    border-bottom: solid 3px black;
    height: 65px;
}


header {
    background-color: green;
    display: inline-block;
    padding: 15px;
    float: left;
}

.aboutme {
    clear: both;
    margin-top: 20px;
}
nav {
    position: relative;
    top: 20px;
}

h1 {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;
    border-left: 1px solid black;
    padding: 0 15px;
    margin: 0;
}